body{

    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-decoration: underline;
    text-decoration-color: violet;
    text-align: center;
}

div{
    width: 100%;
    text-align: center;
}

img{
    max-width: 20%;
    border-radius: 10px;

}